<% if user_signed_in? %>
  <div class="cards-container relative-position" style="width: 100%">
    <% @bookings.each do |booking| %>
      <div class="card" style="height: 577px">
        <% booking.bike.photos.each do |photo| %>
          <%= image_tag photo, class: "card-small-medium" %>
        <% end %>
        <div class="info-card">
          <div class="direction-inline space-between">
            <p>
              <%= 5.times.map { |i| i < booking.bike.rating ? tag.i(class: 'fa-solid fa-star', style:"color: #ebeb67") : tag.i(class: 'fa-regular fa-star') }.join.html_safe %>
            </p>
            <p><%= booking.bike.bike_type %></p>
          </div>
          <div class="direction-inline space-between">
            <p><%= booking.bike.manufacturer %>/<%= booking.bike.model %> </p>
            <p><%= booking.bike.price_per_day %>$ / day</p>
          </div>
          <p><%= booking.bike.address %></p>
          <p>from: <%= booking.start_date.strftime("%d/%m/%Y") %> to: <%= booking.end_date.strftime("%d/%m/%Y") %></p>
          <div class="direction-inline">
            <p class="btn btn-primary w-50" style="margin: 0 3px"><%= booking.status %></p>
            <%= link_to "Cancel", booking_path(booking), data: {turbo_method: :delete }, class: "btn btn-primary w-50" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% else  %>
  <div class="container in-middle-element relative-position">
   <%= link_to "Sign in to see your reservations", new_user_session_path, class: "btn btn-primary" %>
  </div>
<% end %>
