
  <div class="home-page">
    <div class="display-landing">
      <%= render "components/navbar" %>
      <div class="cards-container">
        <% @bikes.each do |bike| %>
          <div class="card">
            <% bike.photos.each do |photo| %>
                <%= image_tag photo %>
            <% end %>
            <div class="info-card">
              <p><%= bike.price_per_day %>$ / week </p>
              <p>type: <%= bike.bike_type %></p>
              <p>model: <%= bike.model %></p>
            </div>
          </div>
        <% end %>
      </div>
      <div class="map-and-searchbar">
        <div>
          <%= form_with url: root_path, method: :get, class: "d-flex mb-4" do |f| %>
            <%= f.text_field :query,
              value: params[:query],
              class: "form-zip-code-search",
              placeholder: "type an address or a zip code to find the perfect bike" %>
          <% end %>
        </div>
        <%= render "bikes/anim_bike" %>
      </div>
    </div>
  </div>
</div>
