<div class="home-page" data-controller="homepage">
  <% unless params[:search].present? %>
    <div class="video-container" data-homepage-target="frame">
      <video autoplay muted loop id="video" preload="auto" data-homepage-target="bikeVideo">
        <source src='https://res.cloudinary.com/rikufonseca/video/upload/v1722876133/rent_bike_home_kc3prj.mp4' type="video/mp4">
      </video>
      <div class="content">
        <h1 class="animate__animated animate__backInLeft in-middle-element" id="bike-animation"> Rent your bike </h1>
      </div>
    </div>
  <% end %>
  <div class="display-home" data-homepage-target="content">
    <%= render "components/navbar" %>
    <div class="flex-content">
      <div class="cards-container">
        <div class="filters">
          <div class="slidecontainer">
            <p>how much are you willing to spend?</p>
            <%= form_with url: root_path, method: :get do |f| %>
              <%= f.range_field :price_per_day,
              value: params[:price_per_day] || 50,
              min:50,
              max:350,
              class:"slider",
              data: { homepage_target: "priceSlider" } %>
              <%= f.hidden_field :search, value: true %>
              <span data-homepage-target="price">
                $<%= params[:price_per_day] || 200 %>
              </span>
              <%= f.button "Search", type: "submit", class:"button_search" %>
            <% end %>
          </div>
        </div>
        <% @bikes.each do |bike| %>
          <div class="card">
            <% bike.photos.each do |photo| %>
                <%= image_tag photo %>
            <% end %>
            <div class="info-card">
              <p><%= bike.price_per_day %>$ / week </p>
              <p>type: <%= bike.bike_type %></p>
              <p>model: <%= bike.model %></p>
            </div>
          </div>
        <% end %>
      </div>
      <div class="map-and-searchbar">
        <div>
          <%= form_with url: root_path, method: :get, class: "form-height mb-4" do |f| %>
            <div data-controller="address-autocomplete" data-address-autocomplete-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
              <%= f.text_field :address,
                class: "form-zip-code-search d-none",
                data: {address_autocomplete_target: "address"} %>
            </div>
            <%= f.hidden_field :search, value: true %>
            <%= f.button "Search", type: "submit", class:"button_search position_absolute" %>
          <% end %>
        </div>
        <div style="width: 100%; height: calc(100vh - 116px);" class="map" data-controller="map" data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
       </div>
      </div>
    </div>
  </div>
</div>
