<div class="home-page">
  <div class="display-bikes">
    <%= render "components/navbar" %>
    <div class="cards-container">
      <% @bikes.each do |bike| %>
        <div class="card">
          <% bike.photos.each do |photo| %>
              <%= image_tag photo %>
          <% end %>
          <div class="info-card">
            <p><%= bike.price_per_day %>$ / week </p>
            <p>type: <%= bike.bike_type %></p>
            <p>model: <%= bike.model %></p>
          </div>
        </div>
      <% end %>
    </div>
    <div class="map-and-searchbar">
      <div>
        <%= form_with url: bikes_path, method: :get, class: "d-flex mb-4" do |f| %>
          <%= f.text_field :query,
            value: params[:query],
            class: "form-control",
            placeholder: "type an address or a zip code to find the perfect bike" %>
        <% end %>
      </div>
      <div style="width: 36%; height: 619px;" class="map" data-controller="map" data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
     </div>
    </div>
  </div>
</div>
