<div class="container">
  <div class="card bike-card">
    <% @bike.photos.each do |photo| %>
        <%= image_tag photo %>
    <% end %>
    <div class="info-card">
      <p><%= @bike.rating %></p>
      <p><%= @bike.price_per_day %>$ / week </p>
      <p>type: <%= @bike.bike_type %></p>
      <p>model: <%= @bike.model %></p>
      <p>manufacturer: <%= @bike.manufacturer %></p>
      <p><%= @bike.description %></p>
      <p>where: <%= @bike.address %></p>
    </div>
  </div>
</div>
